/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-may-2022, 20:13:18
    Author     : Daniel Felipe
*/

/*
content-box: Toma en cuenta , contenido, borde y padding para el calculo de la caja
border-box: modifica valores de contenido, para que coincida con nuestro ancho y alto
*/
.block{
    background-color: #22567B;
    width:200px;
    height:200px;
    padding: 50px;
    border: 5px solid blue;
    box-sizing: border-box;
    margin: auto;
}